.parte1{
    background-color: rgba(209, 176, 137, 0.448);
    text-align: center;
}    
.part2{
    text-align: center;
}
.parte3{
  list-style-position: inside; 
  padding: 0;
  margin: 0;
  place-items: center;
  margin: 6px 0;
  background-color: rgba(209, 176, 137, 0.448);  
}
.font{
    font-family: cursive;
    color: darkkhaki;
    text-align: center;
}  
.parte4{
    text-align: center;
}    
.parte5{
    text-align: center;
    background-color: rgba(209, 176, 137, 0.448);
    text-decoration: underline;
  color: black;
  font-size: 18px;
}
.h1{
     font-family: cursive;
}    
.mapa{
  width: 300px;
  height: 300px;
  border-radius: 5%;
  object-fit: cover;
  border: 3px solid #ccc;
} 
links.{
  display: flex;
  justify-content: center;
  gap: 113px;
  padding: 200px;
  margin: 200px;
}  
.links a {
  text-decoration: underline;
  color: black;
  font-size: 23px;
}
.body1{
  margin: 0px;
  
} 
